/* screen - 1440 */

.x1440 {
  align-items: flex-end;
  background-color: var(--shark);
  display: flex;
  flex-direction: column;
  height: 900px;
  overflow: hidden;
  padding: 0.0px 0;
  width: 1440px;
}

.x1440 .overlap-group9 {
  height: 817px;
  margin-right: 7.21px;
  position: relative;
  width: 1276px;
}

.x1440 .overlap-group {
  height: 817px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1276px;
}

.x1440 .bsc-gas {
  height: 68px;
  left: 412px;
  object-fit: cover;
  position: absolute;
  top: 353px;
  width: 301px;
}

.x1440 .twitter {
  height: 417px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1125px;
}

.x1440 .pump450x600 {
  height: 542px;
  left: 976px;
  object-fit: cover;
  position: absolute;
  top: 275px;
  width: 300px;
}

.x1440 .widgets-data-card-with-charts {
  align-items: flex-end;
  display: flex;
  height: 162px;
  left: 292px;
  position: absolute;
  top: 444px;
}

.x1440 .overlap-group1 {
  height: 176px;
  margin-bottom: -12.0px;
  margin-left: -1px;
  position: relative;
  width: 267px;
}

.x1440 .bgg {
  height: 176px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 246px;
}

.x1440 .mytokenvalue {
  height: 94px;
  left: 1px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 2px;
  transition: all 0.2s ease;
  width: 266px;
}

.x1440 .mytokenvalue:hover {
  transform: scale(1.1);
}

.x1440 .x2 {
  background-color: var(--caribbean-green);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 65px;
  left: 36px;
  position: absolute;
  top: 90px;
  width: 173px;
}

.x1440 .a {
  -webkit-text-stroke: 1px var(--silver);
  left: 73px;
  letter-spacing: 0.19px;
  line-height: 30px;
  position: absolute;
  top: 101px;
  white-space: nowrap;
}

.x1440 .widgets-data-card-with-charts-1 {
  align-items: flex-start;
  display: flex;
  height: 156px;
  left: 34px;
  padding: 0 0.0px;
  position: absolute;
  top: 450px;
}

.x1440 .overlap-group2 {
  height: 178px;
  margin-top: -10.0px;
  position: relative;
  width: 273px;
}

.x1440 .bgg-1 {
  height: 178px;
  left: 12px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 247px;
}

.x1440 .mytokenbalance {
  height: 96px;
  left: 0;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 10px;
  transition: all 0.2s ease;
  width: 273px;
}

.x1440 .mytokenbalance:hover {
  transform: scale(1.1);
}

.x1440 .x1 {
  background-color: var(--salmon);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 65px;
  left: 50px;
  position: absolute;
  top: 92px;
  width: 173px;
}

.x1440 .a-1 {
  -webkit-text-stroke: 1px var(--silver);
  left: 75px;
  letter-spacing: 0.19px;
  line-height: 30px;
  position: absolute;
  top: 103px;
  white-space: nowrap;
}

.x1440 .widgets-data-card-with-charts-2 {
  align-items: flex-start;
  display: flex;
  height: 153px;
  justify-content: center;
  left: 288px;
  position: absolute;
  top: 615px;
}

.x1440 .overlap-group3 {
  height: 163px;
  margin-top: -5px;
  position: relative;
  width: 267px;
}

.x1440 .bgg-2 {
  background-color: var(--nevada);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 163px;
  left: 8px;
  position: absolute;
  top: 0;
  width: 233px;
}

.x1440 .data {
  align-items: flex-start;
  display: flex;
  height: 55px;
  justify-content: center;
  left: 43px;
  position: absolute;
  top: 91px;
}

.x1440 .overlap-group1-1 {
  align-items: flex-start;
  background-color: var(--salmon);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  display: flex;
  height: 65px;
  margin-top: -5px;
  min-width: 173px;
  padding: 7.4px 20.8px;
}

.x1440 .hello {
  -webkit-text-stroke: 1px var(--silver);
  letter-spacing: 0.19px;
  line-height: 30px;
  min-height: 38px;
  white-space: nowrap;
}

.x1440 .liquidityvalue {
  height: 94px;
  left: 0;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 5px;
  transition: all 0.2s ease;
  width: 267px;
}

.x1440 .liquidityvalue:hover {
  transform: scale(1.1);
}

.x1440 .widgets-data-card-with-charts-3 {
  align-items: flex-start;
  display: flex;
  height: 152px;
  left: 35px;
  padding: 0 0.0px;
  position: absolute;
  top: 615px;
}

.x1440 .overlap-group4 {
  height: 162px;
  margin-top: -5px;
  position: relative;
  width: 270px;
}

.x1440 .bgg-3 {
  background-color: var(--nevada);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 162px;
  left: 20px;
  position: absolute;
  top: 0;
  width: 230px;
}

.x1440 .marketcapital {
  height: 95px;
  left: 0;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 5px;
  transition: all 0.2s ease;
  width: 270px;
}

.x1440 .marketcapital:hover {
  transform: scale(1.1);
}

.x1440 .x5 {
  background-color: var(--caribbean-green);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 65px;
  left: 45px;
  position: absolute;
  top: 86px;
  width: 173px;
}

.x1440 .a-2 {
  -webkit-text-stroke: 1px var(--silver);
  color: var(--outer-space);
  font-family: var(--font-family-impact);
  font-size: var(--font-size-xl);
  left: 74px;
  letter-spacing: 0.19px;
  line-height: 30px;
  position: absolute;
  top: 95px;
  white-space: nowrap;
}

.x1440 .span0 {
  letter-spacing: 0.28px;
}

.x1440 .widgets-data-card-with-charts-4 {
  align-items: flex-start;
  display: flex;
  height: 156px;
  left: 790px;
  position: absolute;
  top: 450px;
}

.x1440 .overlap-group5 {
  height: 166px;
  margin-top: -5px;
  position: relative;
  width: 272px;
}

.x1440 .bgg-4 {
  background-color: var(--nevada);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 166px;
  left: 10px;
  position: absolute;
  top: 0;
  width: 232px;
}

.x1440 .totalgasrewards {
  height: 96px;
  left: 0;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 11px;
  transition: all 0.2s ease;
  width: 272px;
}

.x1440 .totalgasrewards:hover {
  transform: scale(1.1);
}

.x1440 .x4 {
  background-color: var(--caribbean-green);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 65px;
  left: 37px;
  position: absolute;
  top: 87px;
  width: 173px;
}

.x1440 .a-3 {
  -webkit-text-stroke: 1px var(--silver);
  left: 69px;
  letter-spacing: 0.19px;
  line-height: 30px;
  position: absolute;
  top: 98px;
  white-space: nowrap;
}

.x1440 .widgets-data-card-with-charts-5 {
  align-items: flex-start;
  display: flex;
  height: 156px;
  left: 538px;
  position: absolute;
  top: 449px;
}

.x1440 .overlap-group6 {
  height: 166px;
  margin-top: -5px;
  position: relative;
  width: 279px;
}

.x1440 .bgg-5 {
  background-color: var(--nevada);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 166px;
  left: 9px;
  position: absolute;
  top: 0;
  width: 236px;
}

.x1440 .mygasrewards {
  height: 99px;
  left: 0;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 6px;
  transition: all 0.2s ease;
  width: 279px;
}

.x1440 .mygasrewards:hover {
  transform: scale(1.1);
}

.x1440 .x3 {
  background-color: var(--salmon);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 65px;
  left: 46px;
  position: absolute;
  top: 88px;
  width: 173px;
}

.x1440 .a-4 {
  -webkit-text-stroke: 1px var(--silver);
  left: 73px;
  letter-spacing: 0.19px;
  line-height: 30px;
  position: absolute;
  top: 99px;
  white-space: nowrap;
}

.x1440 .widgets-data-card-with-charts-6 {
  align-items: flex-end;
  display: flex;
  height: 160px;
  left: 790px;
  padding: 0 0.0px;
  position: absolute;
  top: 608px;
}

.x1440 .overlap-group7 {
  height: 165px;
  margin-bottom: -5.0px;
  position: relative;
  width: 262px;
}

.x1440 .bgg-6 {
  background-color: var(--nevada);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 163px;
  left: 10px;
  position: absolute;
  top: 2px;
  width: 226px;
}

.x1440 .avggasprice {
  height: 92px;
  left: 0;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 262px;
}

.x1440 .avggasprice:hover {
  transform: scale(1.1);
}

.x1440 .x8 {
  background-color: var(--salmon);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 65px;
  left: 37px;
  position: absolute;
  top: 88px;
  width: 173px;
}

.x1440 .a-5 {
  -webkit-text-stroke: 1px var(--silver);
  left: 69px;
  letter-spacing: 0.19px;
  line-height: 30px;
  position: absolute;
  top: 103px;
  white-space: nowrap;
}

.x1440 .widgets-data-card-with-charts-7 {
  align-items: flex-end;
  display: flex;
  height: 170px;
  justify-content: center;
  left: 527px;
  position: absolute;
  top: 599px;
}

.x1440 .overlap-group8 {
  height: 175px;
  margin-bottom: -5.0px;
  position: relative;
  width: 290px;
}

.x1440 .bgg-7 {
  background-color: var(--nevada);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 162px;
  left: 22px;
  position: absolute;
  top: 13px;
  width: 234px;
}

.x1440 .tradingvolume {
  height: 102px;
  left: 0;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 290px;
}

.x1440 .tradingvolume:hover {
  transform: scale(1.1);
}

.x1440 .x7 {
  background-color: var(--caribbean-green);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 65px;
  left: 53px;
  position: absolute;
  top: 97px;
  width: 173px;
}

.x1440 .a-6 {
  -webkit-text-stroke: 1px var(--silver);
  left: 84px;
  letter-spacing: 0.19px;
  line-height: 30px;
  position: absolute;
  top: 112px;
  white-space: nowrap;
}

.x1440 .core-component-button-standard {
  background-color: var(--dodger-blue);
  border-radius: 4px;
  height: 40px;
  left: 986px;
  pointer-events: auto;
  position: absolute;
  top: 10px;
  transition: all 0.2s ease;
  width: 134px;
}

.x1440 .core-component-button-standard:hover {
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
}

.x1440 .connect-wallet {
  left: 16px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}

.x1440 .core-component-button-standard-1 {
  background-color: var(--dodger-blue);
  border-radius: 4px;
  height: 40px;
  left: 1129px;
  pointer-events: auto;
  position: absolute;
  top: 10px;
  transition: all 0.2s ease;
  width: 135px;
}

.x1440 .core-component-button-standard-1:hover {
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
}

.x1440 .casganbanner {
  height: 83px;
  margin-right: -26.89px;
  object-fit: cover;
  width: 1467px;
}
/* screen - 1920 */

.x1920 {
  align-items: flex-end;
  background-color: var(--shark);
  display: flex;
  flex-direction: column;
  height: 1080px;
  overflow: hidden;
  width: 1920px;
}

.x1920 .overlap-group9 {
  height: 980px;
  margin-right: 9.61px;
  position: relative;
  width: 1701px;
}

.x1920 .overlap-group {
  height: 980px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1701px;
}

.x1920 .bsc-gas {
  height: 90px;
  left: 550px;
  object-fit: cover;
  position: absolute;
  top: 424px;
  width: 401px;
}

.x1920 .twitter {
  height: 500px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1501px;
}

.x1920 .pump450x600 {
  height: 650px;
  left: 1301px;
  object-fit: cover;
  position: absolute;
  top: 330px;
  width: 400px;
}

.x1920 .widgets-data-card-with-charts {
  align-items: flex-end;
  display: flex;
  height: 203px;
  left: 427px;
  position: absolute;
  top: 523px;
}

.x1920 .overlap-group1 {
  height: 215px;
  margin-bottom: -12.0px;
  margin-left: -7px;
  position: relative;
  width: 331px;
}

.x1920 .bgg {
  height: 206px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 9px;
  width: 321px;
}

.x1920 .mytokenvalue {
  height: 114px;
  left: 8px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 323px;
}

.x1920 .mytokenvalue:hover {
  transform: scale(1.1);
}

.x1920 .x2 {
  background-color: var(--caribbean-green);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 76px;
  left: 46px;
  position: absolute;
  top: 117px;
  width: 228px;
}

.x1920 .t {
  -webkit-text-stroke: 1px var(--silver);
  left: 72px;
  letter-spacing: 0.28px;
  line-height: 45px;
  position: absolute;
  top: 128px;
  white-space: nowrap;
}

.x1920 .widgets-data-card-with-charts-1 {
  align-items: flex-start;
  display: flex;
  height: 187px;
  left: 114px;
  position: absolute;
  top: 540px;
}

.x1920 .overlap-group2 {
  height: 209px;
  margin-left: -3px;
  margin-top: -10.0px;
  position: relative;
  width: 331px;
}

.x1920 .bgg-1 {
  height: 209px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 322px;
}

.x1920 .mytokenbalance {
  height: 115px;
  left: 4px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 10px;
  transition: all 0.2s ease;
  width: 327px;
}

.x1920 .mytokenbalance:hover {
  transform: scale(1.1);
}

.x1920 .x1 {
  background-color: var(--salmon);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 76px;
  left: 48px;
  position: absolute;
  top: 110px;
  width: 228px;
}

.x1920 .w {
  -webkit-text-stroke: 1px var(--silver);
  left: 66px;
  letter-spacing: 0.28px;
  line-height: 45px;
  position: absolute;
  top: 121px;
  white-space: nowrap;
}

.x1920 .widgets-data-card-with-charts-2 {
  align-items: flex-start;
  display: flex;
  height: 184px;
  left: 429px;
  position: absolute;
  top: 738px;
}

.x1920 .overlap-group3 {
  height: 194px;
  margin-left: -4px;
  margin-top: -5px;
  position: relative;
  width: 325px;
}

.x1920 .bgg-2 {
  background-color: var(--nevada);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 194px;
  left: 0;
  position: absolute;
  top: 0;
  width: 307px;
}

.x1920 .data {
  align-items: flex-start;
  display: flex;
  height: 66px;
  justify-content: center;
  left: 45px;
  position: absolute;
  top: 108px;
}

.x1920 .overlap-group1-1 {
  align-items: flex-start;
  background-color: var(--salmon);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  display: flex;
  height: 76px;
  margin-top: -5px;
  min-width: 228px;
  padding: 5.6px 13.9px;
}

.x1920 .hello {
  -webkit-text-stroke: 1px var(--silver);
  letter-spacing: 0.28px;
  line-height: 45px;
  min-height: 56px;
  white-space: nowrap;
}

.x1920 .liquidityvalue {
  height: 113px;
  left: 5px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 10px;
  transition: all 0.2s ease;
  width: 320px;
}

.x1920 .liquidityvalue:hover {
  transform: scale(1.1);
}

.x1920 .widgets-data-card-with-charts-3 {
  align-items: flex-start;
  display: flex;
  height: 182px;
  justify-content: center;
  left: 114px;
  position: absolute;
  top: 738px;
}

.x1920 .overlap-group4 {
  height: 192px;
  margin-top: -5px;
  position: relative;
  width: 325px;
}

.x1920 .bgg-3 {
  background-color: var(--nevada);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 192px;
  left: 6px;
  position: absolute;
  top: 0;
  width: 303px;
}

.x1920 .marketcapital {
  height: 115px;
  left: 0;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 10px;
  transition: all 0.2s ease;
  width: 325px;
}

.x1920 .marketcapital:hover {
  transform: scale(1.1);
}

.x1920 .x5 {
  background-color: var(--caribbean-green);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 76px;
  left: 38px;
  position: absolute;
  top: 103px;
  width: 228px;
}

.x1920 .a {
  -webkit-text-stroke: 1px var(--silver);
  left: 62px;
  letter-spacing: 0.28px;
  line-height: 45px;
  position: absolute;
  top: 116px;
  white-space: nowrap;
}

.x1920 .widgets-data-card-with-charts-4 {
  align-items: flex-start;
  display: flex;
  height: 187px;
  justify-content: flex-end;
  left: 1043px;
  position: absolute;
  top: 540px;
}

.x1920 .overlap-group5 {
  height: 197px;
  margin-top: -5px;
  position: relative;
  width: 308px;
}

.x1920 .bgg-4 {
  background-color: var(--nevada);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 197px;
  left: 2px;
  position: absolute;
  top: 0;
  width: 306px;
}

.x1920 .totalgasrewards {
  height: 107px;
  left: 0;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 5px;
  transition: all 0.2s ease;
  width: 303px;
}

.x1920 .totalgasrewards:hover {
  transform: scale(1.1);
}

.x1920 .x4 {
  background-color: var(--caribbean-green);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 76px;
  left: 38px;
  position: absolute;
  top: 105px;
  width: 228px;
}

.x1920 .t-1 {
  -webkit-text-stroke: 1px var(--silver);
  left: 69px;
  letter-spacing: 0.28px;
  line-height: 45px;
  position: absolute;
  top: 116px;
  white-space: nowrap;
}

.x1920 .widgets-data-card-with-charts-5 {
  align-items: flex-end;
  display: flex;
  height: 193px;
  justify-content: center;
  left: 729px;
  position: absolute;
  top: 534px;
}

.x1920 .overlap-group6 {
  height: 198px;
  margin-bottom: -5.0px;
  position: relative;
  width: 328px;
}

.x1920 .bgg-5 {
  background-color: var(--nevada);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 198px;
  left: 2px;
  position: absolute;
  top: 0;
  width: 311px;
}

.x1920 .mygasrewards {
  height: 116px;
  left: 0;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 328px;
}

.x1920 .mygasrewards:hover {
  transform: scale(1.1);
}

.x1920 .x3 {
  background-color: var(--salmon);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 76px;
  left: 51px;
  position: absolute;
  top: 106px;
  width: 228px;
}

.x1920 .t-2 {
  -webkit-text-stroke: 1px var(--silver);
  left: 82px;
  letter-spacing: 0.28px;
  line-height: 45px;
  position: absolute;
  top: 118px;
  white-space: nowrap;
}

.x1920 .widgets-data-card-with-charts-6 {
  align-items: flex-start;
  display: flex;
  height: 184px;
  justify-content: center;
  left: 1043px;
  position: absolute;
  top: 738px;
}

.x1920 .overlap-group7 {
  height: 194px;
  margin-top: -5px;
  position: relative;
  width: 314px;
}

.x1920 .bgg-6 {
  background-color: var(--nevada);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 194px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 299px;
}

.x1920 .avggasprice {
  height: 111px;
  left: 0;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 5px;
  transition: all 0.2s ease;
  width: 314px;
}

.x1920 .avggasprice:hover {
  transform: scale(1.1);
}

.x1920 .x8 {
  background-color: var(--salmon);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 76px;
  left: 38px;
  position: absolute;
  top: 103px;
  width: 228px;
}

.x1920 .t-3 {
  -webkit-text-stroke: 1px var(--silver);
  left: 69px;
  letter-spacing: 0.28px;
  line-height: 45px;
  position: absolute;
  top: 116px;
  white-space: nowrap;
}

.x1920 .widgets-data-card-with-charts-7 {
  align-items: flex-end;
  display: flex;
  height: 198px;
  justify-content: center;
  left: 725px;
  position: absolute;
  top: 724px;
}

.x1920 .overlap-group8 {
  height: 203px;
  margin-bottom: -5.0px;
  position: relative;
  width: 350px;
}

.x1920 .bgg-7 {
  background-color: var(--nevada);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 192px;
  left: 8px;
  position: absolute;
  top: 11px;
  width: 309px;
}

.x1920 .tradingvolume {
  height: 123px;
  left: 0;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 350px;
}

.x1920 .tradingvolume:hover {
  transform: scale(1.1);
}

.x1920 .x7 {
  background-color: var(--caribbean-green);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 76px;
  left: 50px;
  position: absolute;
  top: 112px;
  width: 228px;
}

.x1920 .t-4 {
  -webkit-text-stroke: 1px var(--silver);
  left: 79px;
  letter-spacing: 0.28px;
  line-height: 45px;
  position: absolute;
  top: 125px;
  white-space: nowrap;
}

.x1920 .core-component-button-standard {
  background-color: var(--dodger-blue);
  border-radius: 4px;
  height: 40px;
  left: 1358px;
  pointer-events: auto;
  position: absolute;
  top: 18px;
  transition: all 0.2s ease;
  width: 134px;
}

.x1920 .core-component-button-standard:hover {
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
}

.x1920 .connect-wallet {
  left: 16px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}

.x1920 .core-component-button-standard-1 {
  background-color: var(--dodger-blue);
  border-radius: 4px;
  height: 40px;
  left: 1501px;
  pointer-events: auto;
  position: absolute;
  top: 18px;
  transition: all 0.2s ease;
  width: 135px;
}

.x1920 .core-component-button-standard-1:hover {
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
}

.x1920 .casganbanner {
  height: 100px;
  margin-right: -35.86px;
  object-fit: cover;
  width: 1956px;
}
/* screen - 4k */

.x4k {
  align-items: flex-end;
  background-color: var(--shark);
  display: flex;
  flex-direction: column;
  height: 2160px;
  overflow: hidden;
  width: 4096px;
}

.x4k .overlap-group9 {
  height: 1960px;
  margin-right: 20.51px;
  position: relative;
  width: 3628px;
}

.x4k .overlap-group {
  height: 1960px;
  left: 0;
  position: absolute;
  top: 0;
  width: 3628px;
}

.x4k .bsc-gas {
  height: 192px;
  left: 1173px;
  object-fit: cover;
  position: absolute;
  top: 848px;
  width: 855px;
}

.x4k .twitter {
  height: 1000px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 3201px;
}

.x4k .pump450x600 {
  height: 1300px;
  left: 2775px;
  object-fit: cover;
  position: absolute;
  top: 660px;
  width: 853px;
}

.x4k .widgets-data-card-with-charts {
  align-items: flex-end;
  display: flex;
  height: 407px;
  left: 911px;
  position: absolute;
  top: 1046px;
}

.x4k .overlap-group1 {
  height: 419px;
  margin-bottom: -12.0px;
  margin-left: -3px;
  position: relative;
  width: 693px;
}

.x4k .bgg {
  height: 390px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 29px;
  width: 659px;
}

.x4k .mytokenvalue {
  height: 243px;
  left: 3px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 690px;
}

.x4k .mytokenvalue:hover {
  transform: scale(1.1);
}

.x4k .x2 {
  background-color: var(--caribbean-green);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 141px;
  left: 91px;
  position: absolute;
  top: 239px;
  width: 474px;
}

.x4k .title {
  -webkit-text-stroke: 1px var(--silver);
  left: 129px;
  letter-spacing: 0.47px;
  line-height: 75px;
  position: absolute;
  top: 268px;
  white-space: nowrap;
}

.x4k .widgets-data-card-with-charts-1 {
  align-items: flex-start;
  display: flex;
  height: 368px;
  left: 915px;
  position: absolute;
  top: 1476px;
}

.x4k .overlap-group2 {
  height: 378px;
  margin-left: -5px;
  margin-top: -5px;
  position: relative;
  width: 645px;
}

.x4k .bgg-1 {
  background-color: var(--nevada);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 378px;
  left: 0;
  position: absolute;
  top: 0;
  width: 643px;
}

.x4k .data {
  align-items: flex-start;
  display: flex;
  height: 131px;
  justify-content: center;
  left: 91px;
  position: absolute;
  top: 211px;
}

.x4k .overlap-group1-1 {
  align-items: flex-start;
  background-color: var(--salmon);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  display: flex;
  height: 141px;
  margin-top: -5px;
  min-width: 474px;
  padding: 23.6px 24.5px;
}

.x4k .hello {
  -webkit-text-stroke: 1px var(--silver);
  letter-spacing: 0.47px;
  line-height: 75px;
  min-height: 94px;
  white-space: nowrap;
}

.x4k .liquidityvalue {
  height: 226px;
  left: 5px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 15px;
  transition: all 0.2s ease;
  width: 640px;
}

.x4k .liquidityvalue:hover {
  transform: scale(1.1);
}

.x4k .widgets-data-card-with-charts-2 {
  align-items: flex-start;
  display: flex;
  height: 373px;
  left: 2225px;
  position: absolute;
  top: 1080px;
}

.x4k .overlap-group3 {
  height: 383px;
  margin-top: -5px;
  position: relative;
  width: 650px;
}

.x4k .bgg-2 {
  background-color: var(--nevada);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 383px;
  left: 9px;
  position: absolute;
  top: 0;
  width: 641px;
}

.x4k .totalgasrewards {
  height: 228px;
  left: 0;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 5px;
  transition: all 0.2s ease;
  width: 645px;
}

.x4k .totalgasrewards:hover {
  transform: scale(1.1);
}

.x4k .x4 {
  background-color: var(--caribbean-green);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 141px;
  left: 86px;
  position: absolute;
  top: 210px;
  width: 474px;
}

.x4k .widgets-data-card-with-charts-3 {
  align-items: flex-end;
  display: flex;
  height: 385px;
  left: 1556px;
  position: absolute;
  top: 1068px;
}

.x4k .overlap-group4 {
  height: 390px;
  margin-bottom: -5.0px;
  position: relative;
  width: 701px;
}

.x4k .bgg-3 {
  background-color: var(--nevada);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 385px;
  left: 10px;
  position: absolute;
  top: 5px;
  width: 652px;
}

.x4k .mygasrewards {
  height: 247px;
  left: 0;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 701px;
}

.x4k .mygasrewards:hover {
  transform: scale(1.1);
}

.x4k .x3 {
  background-color: var(--salmon);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 141px;
  left: 114px;
  position: absolute;
  top: 217px;
  width: 474px;
}

.x4k .widgets-data-card-with-charts-4 {
  align-items: flex-start;
  display: flex;
  height: 368px;
  left: 2225px;
  position: absolute;
  top: 1476px;
}

.x4k .overlap-group5 {
  height: 378px;
  margin-top: -4.58px;
  position: relative;
  width: 634px;
}

.x4k .bgg-4 {
  background-color: var(--nevada);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 378px;
  left: 8px;
  position: absolute;
  top: 0;
  width: 626px;
}

.x4k .avggasprice {
  height: 222px;
  left: 0;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 5px;
  transition: all 0.2s ease;
  width: 629px;
}

.x4k .avggasprice:hover {
  transform: scale(1.1);
}

.x4k .x8 {
  background-color: var(--salmon);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 141px;
  left: 86px;
  position: absolute;
  top: 206px;
  width: 474px;
}

.x4k .widgets-data-card-with-charts-5 {
  align-items: flex-end;
  display: flex;
  height: 395px;
  left: 1548px;
  position: absolute;
  top: 1449px;
}

.x4k .overlap-group6 {
  height: 400px;
  margin-bottom: -5.0px;
  position: relative;
  width: 697px;
}

.x4k .bgg-5 {
  background-color: var(--nevada);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 374px;
  left: 23px;
  position: absolute;
  top: 26px;
  width: 649px;
}

.x4k .tradingvolume {
  height: 246px;
  left: 0;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 697px;
}

.x4k .tradingvolume:hover {
  transform: scale(1.1);
}

.x4k .x7 {
  background-color: var(--caribbean-green);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 141px;
  left: 112px;
  position: absolute;
  top: 228px;
  width: 474px;
}

.x4k .hi {
  -webkit-text-stroke: 1px var(--silver);
  left: 1704px;
  letter-spacing: 0.47px;
  line-height: 75px;
  position: absolute;
  top: 1318px;
  white-space: nowrap;
}

.x4k .hi-1 {
  -webkit-text-stroke: 1px var(--silver);
  left: 1704px;
  letter-spacing: 0.47px;
  line-height: 75px;
  position: absolute;
  top: 1704px;
  white-space: nowrap;
}

.x4k .hi-2 {
  -webkit-text-stroke: 1px var(--silver);
  left: 2340px;
  letter-spacing: 0.47px;
  line-height: 75px;
  position: absolute;
  top: 1704px;
  white-space: nowrap;
}

.x4k .hi-3 {
  -webkit-text-stroke: 1px var(--silver);
  left: 2340px;
  letter-spacing: 0.47px;
  line-height: 75px;
  position: absolute;
  top: 1318px;
  white-space: nowrap;
}

.x4k .widgets-data-card-with-charts-6 {
  align-items: flex-start;
  display: flex;
  height: 373px;
  left: 244px;
  position: absolute;
  top: 1080px;
}

.x4k .overlap-group7 {
  height: 395px;
  margin-top: -10.0px;
  position: relative;
  width: 666px;
}

.x4k .bgg-6 {
  height: 395px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 662px;
}

.x4k .mytokenbalance {
  height: 231px;
  left: 0;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 10px;
  transition: all 0.2s ease;
  width: 655px;
}

.x4k .mytokenbalance:hover {
  transform: scale(1.1);
}

.x4k .x1 {
  background-color: var(--salmon);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 141px;
  left: 100px;
  position: absolute;
  top: 215px;
  width: 474px;
}

.x4k .hello-1 {
  -webkit-text-stroke: 1px var(--silver);
  left: 133px;
  letter-spacing: 0.47px;
  line-height: 75px;
  position: absolute;
  top: 244px;
  white-space: nowrap;
}

.x4k .widgets-data-card-with-charts-7 {
  align-items: flex-start;
  display: flex;
  height: 364px;
  left: 244px;
  position: absolute;
  top: 1476px;
}

.x4k .overlap-group8 {
  height: 374px;
  margin-top: -5px;
  position: relative;
  width: 653px;
}

.x4k .bgg-7 {
  background-color: var(--nevada);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 374px;
  left: 18px;
  position: absolute;
  top: 0;
  width: 635px;
}

.x4k .marketcapital {
  height: 229px;
  left: 0;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 15px;
  transition: all 0.2s ease;
  width: 648px;
}

.x4k .marketcapital:hover {
  transform: scale(1.1);
}

.x4k .x5 {
  background-color: var(--caribbean-green);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 141px;
  left: 88px;
  position: absolute;
  top: 206px;
  width: 474px;
}

.x4k .hello-2 {
  -webkit-text-stroke: 1px var(--silver);
  left: 133px;
  letter-spacing: 0.47px;
  line-height: 75px;
  position: absolute;
  top: 240px;
  white-space: nowrap;
}

.x4k .core-component-button-standard {
  background-color: var(--dodger-blue);
  border-radius: 4px;
  height: 40px;
  left: 3421px;
  pointer-events: auto;
  position: absolute;
  top: 15px;
  transition: all 0.2s ease;
  width: 135px;
}

.x4k .core-component-button-standard:hover {
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
}

.x4k .connect-wallet {
  left: 16px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}

.x4k .core-component-button-standard-1 {
  background-color: var(--dodger-blue);
  border-radius: 4px;
  height: 40px;
  left: 3278px;
  pointer-events: auto;
  position: absolute;
  top: 15px;
  transition: all 0.2s ease;
  width: 134px;
}

.x4k .core-component-button-standard-1:hover {
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
}

.x4k .casganbanner {
  height: 200px;
  margin-right: -76.5px;
  object-fit: cover;
  width: 4172px;
}
/* screen - ipad-pro-12-9in-1 */

.ipad-pro-12-9in-1 {
  align-items: flex-end;
  background-color: var(--shark);
  display: flex;
  flex-direction: column;
  height: 2137px;
  overflow: hidden;
  padding: 5px 0;
  width: 1024px;
}

.ipad-pro-12-9in-1 .flex-row {
  align-items: flex-start;
  display: flex;
  margin-right: 14.41px;
  min-width: 278px;
}

.ipad-pro-12-9in-1 .core-component-button-standard {
  background-color: var(--dodger-blue);
  border-radius: 4px;
  height: 40px;
  pointer-events: auto;
  position: relative;
  transition: all 0.2s ease;
  width: 134px;
}

.ipad-pro-12-9in-1 .core-component-button-standard:hover {
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
}

.ipad-pro-12-9in-1 .connect-wallet {
  left: 16px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}

.ipad-pro-12-9in-1 .core-component-button-standard-1 {
  background-color: var(--dodger-blue);
  border-radius: 4px;
  height: 40px;
  margin-left: 9px;
  pointer-events: auto;
  position: relative;
  transition: all 0.2s ease;
  width: 135px;
}

.ipad-pro-12-9in-1 .core-component-button-standard-1:hover {
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
}

.ipad-pro-12-9in-1 .overlap-group1 {
  height: 433px;
  margin-right: -23.62px;
  margin-top: 34px;
  position: relative;
  width: 1070px;
}

.ipad-pro-12-9in-1 .twitter {
  height: 375px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1070px;
}

.ipad-pro-12-9in-1 .bsc-gas {
  height: 116px;
  left: 277px;
  object-fit: cover;
  position: absolute;
  top: 317px;
  width: 516px;
}

.ipad-pro-12-9in-1 .overlap-group2 {
  height: 669px;
  margin-top: 160px;
  position: relative;
  width: 1056px;
}

.ipad-pro-12-9in-1 .group-394 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  top: 0;
  width: 1056px;
}

.ipad-pro-12-9in-1 .overlap-group4 {
  height: 327px;
  position: relative;
  width: 1056px;
}

.ipad-pro-12-9in-1 .widgets-data-card-with-charts {
  align-items: flex-start;
  display: flex;
  height: 323px;
  left: 501px;
  position: absolute;
  top: 4px;
}

.ipad-pro-12-9in-1 .overlap-group5 {
  height: 345px;
  margin-top: -9.75px;
  position: relative;
  width: 555px;
}

.ipad-pro-12-9in-1 .bgg {
  height: 345px;
  left: 29px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 503px;
}

.ipad-pro-12-9in-1 .mytokenvalue {
  height: 196px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 10px;
  width: 555px;
}

.ipad-pro-12-9in-1 .x2 {
  background-color: var(--caribbean-green);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 125px;
  left: 99px;
  position: absolute;
  top: 185px;
  width: 360px;
}

.ipad-pro-12-9in-1 .widgets-data-card-with-charts-1 {
  align-items: flex-start;
  display: flex;
  height: 327px;
  left: 0;
  position: absolute;
  top: 0;
}

.ipad-pro-12-9in-1 .overlap-group6 {
  height: 349px;
  margin-top: -10.0px;
  position: relative;
  width: 572px;
}

.ipad-pro-12-9in-1 .bgg-1 {
  height: 349px;
  left: 33px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 505px;
}

.ipad-pro-12-9in-1 .mytokenbalance {
  height: 202px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 10px;
  width: 572px;
}

.ipad-pro-12-9in-1 .x1 {
  background-color: var(--salmon);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 125px;
  left: 106px;
  position: absolute;
  top: 189px;
  width: 360px;
}

.ipad-pro-12-9in-1 .overlap-group3 {
  height: 323px;
  margin-left: 2px;
  margin-top: 19px;
  position: relative;
  width: 1054px;
}

.ipad-pro-12-9in-1 .widgets-data-card-with-charts-2 {
  align-items: flex-start;
  display: flex;
  height: 319px;
  left: 0;
  position: absolute;
  top: 0;
}

.ipad-pro-12-9in-1 .overlap-group5-1 {
  height: 329px;
  margin-top: -5px;
  position: relative;
  width: 567px;
}

.ipad-pro-12-9in-1 .bgg-2 {
  background-color: var(--nevada);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 329px;
  left: 43px;
  position: absolute;
  top: 0;
  width: 482px;
}

.ipad-pro-12-9in-1 .marketcapital {
  height: 200px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 567px;
}

.ipad-pro-12-9in-1 .x5 {
  background-color: var(--caribbean-green);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 125px;
  left: 95px;
  position: absolute;
  top: 180px;
  width: 360px;
}

.ipad-pro-12-9in-1 .widgets-data-card-with-charts-3 {
  align-items: flex-start;
  display: flex;
  height: 323px;
  left: 496px;
  position: absolute;
  top: 0;
}

.ipad-pro-12-9in-1 .overlap-group6-1 {
  height: 333px;
  margin-top: -5px;
  position: relative;
  width: 558px;
}

.ipad-pro-12-9in-1 .bgg-3 {
  background-color: var(--nevada);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 333px;
  left: 36px;
  position: absolute;
  top: 0;
  width: 488px;
}

.ipad-pro-12-9in-1 .data {
  align-items: flex-start;
  display: flex;
  height: 115px;
  justify-content: center;
  left: 106px;
  position: absolute;
  top: 185px;
}

.ipad-pro-12-9in-1 .overlap-group5-2 {
  align-items: flex-start;
  background-color: var(--salmon);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  display: flex;
  height: 125px;
  margin-top: -5px;
  min-width: 360px;
  padding: 18.4px 33.4px;
}

.ipad-pro-12-9in-1 .hello {
  -webkit-text-stroke: 1px var(--silver);
  letter-spacing: 0.33px;
  line-height: 53px;
  min-height: 66px;
  white-space: nowrap;
}

.ipad-pro-12-9in-1 .liquidityvalue {
  height: 197px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 558px;
}

.ipad-pro-12-9in-1 .a {
  -webkit-text-stroke: 1px var(--silver);
  color: var(--outer-space);
  font-family: var(--font-family-impact);
  font-size: var(--font-size-l);
  left: 140px;
  letter-spacing: 0.33px;
  line-height: 53px;
  position: absolute;
  top: 219px;
  white-space: nowrap;
}

.ipad-pro-12-9in-1 .span0 {
  letter-spacing: 0.19px;
}

.ipad-pro-12-9in-1 .place {
  -webkit-text-stroke: 1px var(--silver);
  color: var(--outer-space);
  font-family: var(--font-family-impact);
  font-size: var(--font-size-l);
  left: 630px;
  letter-spacing: 0.33px;
  line-height: 53px;
  position: absolute;
  top: 207px;
  white-space: nowrap;
}

.ipad-pro-12-9in-1 .w {
  -webkit-text-stroke: 1px var(--silver);
  left: 140px;
  letter-spacing: 0.33px;
  line-height: 53px;
  position: absolute;
  top: 547px;
  white-space: nowrap;
}

.ipad-pro-12-9in-1 .overlap-group {
  height: 684px;
  margin-right: 0;
  margin-top: 8px;
  position: relative;
  width: 1074px;
}

.ipad-pro-12-9in-1 .widgets-data-card-with-charts-4 {
  align-items: flex-start;
  display: flex;
  height: 333px;
  left: 562px;
  position: absolute;
  top: 2px;
}

.ipad-pro-12-9in-1 .overlap-group3-1 {
  height: 343px;
  margin-top: -5px;
  position: relative;
  width: 483px;
}

.ipad-pro-12-9in-1 .bgg-4 {
  background-color: var(--nevada);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 343px;
  left: 0;
  position: absolute;
  top: 0;
  width: 481px;
}

.ipad-pro-12-9in-1 .totalgasrewards {
  height: 170px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 22px;
  width: 483px;
}

.ipad-pro-12-9in-1 .x4 {
  background-color: var(--caribbean-green);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 127px;
  left: 57px;
  position: absolute;
  top: 187px;
  width: 357px;
}

.ipad-pro-12-9in-1 .widgets-data-card-with-charts-5 {
  align-items: flex-start;
  display: flex;
  height: 335px;
  left: 67px;
  position: absolute;
  top: 0;
}

.ipad-pro-12-9in-1 .overlap-group4-1 {
  height: 345px;
  margin-left: -4px;
  margin-top: -5px;
  position: relative;
  width: 529px;
}

.ipad-pro-12-9in-1 .bgg-5 {
  background-color: var(--nevada);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 345px;
  left: 0;
  position: absolute;
  top: 0;
  width: 489px;
}

.ipad-pro-12-9in-1 .mygasrewards {
  height: 185px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 9px;
  width: 524px;
}

.ipad-pro-12-9in-1 .x3 {
  background-color: var(--salmon);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 127px;
  left: 54px;
  position: absolute;
  top: 189px;
  width: 357px;
}

.ipad-pro-12-9in-1 .widgets-data-card-with-charts-6 {
  align-items: flex-start;
  display: flex;
  height: 329px;
  left: 554px;
  position: absolute;
  top: 355px;
}

.ipad-pro-12-9in-1 .overlap-group5-3 {
  height: 338px;
  margin-top: -4.59px;
  position: relative;
  width: 520px;
}

.ipad-pro-12-9in-1 .bgg-6 {
  background-color: var(--nevada);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 338px;
  left: 6px;
  position: absolute;
  top: 0;
  width: 470px;
}

.ipad-pro-12-9in-1 .avggasprice {
  height: 184px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 520px;
}

.ipad-pro-12-9in-1 .x8 {
  background-color: var(--salmon);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 127px;
  left: 64px;
  position: absolute;
  top: 183px;
  width: 357px;
}

.ipad-pro-12-9in-1 .widgets-data-card-with-charts-7 {
  align-items: flex-end;
  display: flex;
  height: 353px;
  left: 0;
  position: absolute;
  top: 331px;
}

.ipad-pro-12-9in-1 .overlap-group6-2 {
  height: 358px;
  margin-bottom: -5.0px;
  position: relative;
  width: 621px;
}

.ipad-pro-12-9in-1 .bgg-7 {
  background-color: var(--nevada);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 335px;
  left: 66px;
  position: absolute;
  top: 23px;
  width: 487px;
}

.ipad-pro-12-9in-1 .tradingvolume {
  height: 219px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 621px;
}

.ipad-pro-12-9in-1 .x7 {
  background-color: var(--caribbean-green);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 127px;
  left: 131px;
  position: absolute;
  top: 200px;
  width: 357px;
}

.ipad-pro-12-9in-1 .w-1 {
  -webkit-text-stroke: 1px var(--silver);
  left: 154px;
  letter-spacing: 0.33px;
  line-height: 53px;
  position: absolute;
  top: 210px;
  white-space: nowrap;
}

.ipad-pro-12-9in-1 .w-2 {
  -webkit-text-stroke: 1px var(--silver);
  left: 644px;
  letter-spacing: 0.33px;
  line-height: 53px;
  position: absolute;
  top: 211px;
  white-space: nowrap;
}

.ipad-pro-12-9in-1 .w-3 {
  -webkit-text-stroke: 1px var(--silver);
  left: 172px;
  letter-spacing: 0.33px;
  line-height: 53px;
  position: absolute;
  top: 558px;
  white-space: nowrap;
}

.ipad-pro-12-9in-1 .w-4 {
  -webkit-text-stroke: 1px var(--silver);
  left: 661px;
  letter-spacing: 0.33px;
  line-height: 53px;
  position: absolute;
  top: 558px;
  white-space: nowrap;
}

.ipad-pro-12-9in-1 .casganbanner {
  height: 89px;
  margin-right: -660.5px;
  margin-top: 18px;
  object-fit: cover;
  width: 1684px;
}
/* screen - iphone-x-xs-11-pro-1 */

.iphone-x-xs-11-pro-1 {
  align-items: center;
  background-color: var(--shark);
  display: flex;
  flex-direction: column;
  height: 2039px;
  overflow: hidden;
  width: 375px;
}

.iphone-x-xs-11-pro-1 .flex-row {
  align-items: flex-start;
  display: flex;
  margin-left: 0.17px;
  margin-top: -3px;
  min-width: 278px;
}

.iphone-x-xs-11-pro-1 .core-component-button-standard {
  background-color: var(--dodger-blue);
  border-radius: 4px;
  height: 40px;
  pointer-events: auto;
  position: relative;
  transition: all 0.2s ease;
  width: 134px;
}

.iphone-x-xs-11-pro-1 .core-component-button-standard:hover {
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
}

.iphone-x-xs-11-pro-1 .connect-wallet {
  left: 16px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}

.iphone-x-xs-11-pro-1 .core-component-button-standard-1 {
  background-color: var(--dodger-blue);
  border-radius: 4px;
  height: 40px;
  margin-left: 9px;
  pointer-events: auto;
  position: relative;
  transition: all 0.2s ease;
  width: 135px;
}

.iphone-x-xs-11-pro-1 .core-component-button-standard-1:hover {
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
}

.iphone-x-xs-11-pro-1 .twitter {
  height: 134px;
  margin-top: 19px;
  object-fit: cover;
  width: 374px;
}

.iphone-x-xs-11-pro-1 .bsc-gas {
  height: 89px;
  margin-right: 0;
  object-fit: cover;
  width: 398px;
}

.iphone-x-xs-11-pro-1 .overlap-group4 {
  height: 187px;
  margin-left: 0.18px;
  margin-top: 44px;
  position: relative;
  width: 327px;
}

.iphone-x-xs-11-pro-1 .widgets-data-card-with-charts {
  align-items: flex-start;
  display: flex;
  height: 187px;
  left: 0;
  position: absolute;
  top: 0;
}

.iphone-x-xs-11-pro-1 .overlap-group7 {
  height: 209px;
  margin-left: -3px;
  margin-top: -10.0px;
  position: relative;
  width: 331px;
}

.iphone-x-xs-11-pro-1 .bgg {
  height: 209px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 322px;
}

.iphone-x-xs-11-pro-1 .mytokenbalance {
  height: 115px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: 10px;
  width: 327px;
}

.iphone-x-xs-11-pro-1 .x1 {
  background-color: var(--salmon);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 76px;
  left: 48px;
  position: absolute;
  top: 110px;
  width: 228px;
}

.iphone-x-xs-11-pro-1 .w {
  -webkit-text-stroke: 1px var(--silver);
  left: 67px;
  letter-spacing: 0.33px;
  line-height: 53px;
  position: absolute;
  top: 106px;
  white-space: nowrap;
}

.iphone-x-xs-11-pro-1 .overlap-group2 {
  height: 203px;
  margin-left: 0.17px;
  margin-top: 7px;
  position: relative;
  width: 323px;
}

.iphone-x-xs-11-pro-1 .widgets-data-card-with-charts-1 {
  align-items: flex-end;
  display: flex;
  height: 203px;
  left: 0;
  position: absolute;
  top: 0;
}

.iphone-x-xs-11-pro-1 .overlap-group7-1 {
  height: 215px;
  margin-bottom: -12.0px;
  margin-left: -7px;
  position: relative;
  width: 331px;
}

.iphone-x-xs-11-pro-1 .bgg-1 {
  height: 206px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 9px;
  width: 321px;
}

.iphone-x-xs-11-pro-1 .mytokenvalue {
  height: 114px;
  left: 8px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 323px;
}

.iphone-x-xs-11-pro-1 .x2 {
  background-color: var(--caribbean-green);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 76px;
  left: 46px;
  position: absolute;
  top: 117px;
  width: 228px;
}

.iphone-x-xs-11-pro-1 .w-1 {
  -webkit-text-stroke: 1px var(--silver);
  left: 65px;
  letter-spacing: 0.33px;
  line-height: 53px;
  position: absolute;
  top: 124px;
  white-space: nowrap;
}

.iphone-x-xs-11-pro-1 .overlap-group5 {
  height: 193px;
  margin-right: 0.67px;
  margin-top: 19px;
  position: relative;
  width: 328px;
}

.iphone-x-xs-11-pro-1 .widgets-data-card-with-charts-2 {
  align-items: flex-end;
  display: flex;
  height: 193px;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
}

.iphone-x-xs-11-pro-1 .overlap-group7-2 {
  height: 198px;
  margin-bottom: -5.0px;
  position: relative;
  width: 328px;
}

.iphone-x-xs-11-pro-1 .bgg-2 {
  background-color: var(--nevada);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 198px;
  left: 2px;
  position: absolute;
  top: 0;
  width: 311px;
}

.iphone-x-xs-11-pro-1 .mygasrewards {
  height: 116px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 328px;
}

.iphone-x-xs-11-pro-1 .x3 {
  background-color: var(--salmon);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 76px;
  left: 51px;
  position: absolute;
  top: 106px;
  width: 228px;
}

.iphone-x-xs-11-pro-1 .w-2 {
  -webkit-text-stroke: 1px var(--silver);
  left: 68px;
  letter-spacing: 0.33px;
  line-height: 53px;
  position: absolute;
  top: 120px;
  white-space: nowrap;
}

.iphone-x-xs-11-pro-1 .overlap-group6 {
  height: 187px;
  margin-right: 19.68px;
  margin-top: 19px;
  position: relative;
  width: 303px;
}

.iphone-x-xs-11-pro-1 .widgets-data-card-with-charts-3 {
  align-items: flex-start;
  display: flex;
  height: 187px;
  justify-content: flex-end;
  left: 0;
  position: absolute;
  top: 0;
}

.iphone-x-xs-11-pro-1 .overlap-group7-3 {
  height: 197px;
  margin-top: -5px;
  position: relative;
  width: 308px;
}

.iphone-x-xs-11-pro-1 .bgg-3 {
  background-color: var(--nevada);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 197px;
  left: 2px;
  position: absolute;
  top: 0;
  width: 306px;
}

.iphone-x-xs-11-pro-1 .totalgasrewards {
  height: 107px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 303px;
}

.iphone-x-xs-11-pro-1 .x4 {
  background-color: var(--caribbean-green);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 76px;
  left: 38px;
  position: absolute;
  top: 105px;
  width: 228px;
}

.iphone-x-xs-11-pro-1 .w-3 {
  -webkit-text-stroke: 1px var(--silver);
  left: 65px;
  letter-spacing: 0.33px;
  line-height: 53px;
  position: absolute;
  top: 108px;
  white-space: nowrap;
}

.iphone-x-xs-11-pro-1 .overlap-group1 {
  height: 182px;
  margin-left: 0.47px;
  margin-top: 19px;
  position: relative;
  width: 325px;
}

.iphone-x-xs-11-pro-1 .widgets-data-card-with-charts-4 {
  align-items: flex-start;
  display: flex;
  height: 182px;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
}

.iphone-x-xs-11-pro-1 .overlap-group7-4 {
  height: 192px;
  margin-top: -5px;
  position: relative;
  width: 325px;
}

.iphone-x-xs-11-pro-1 .bgg-4 {
  background-color: var(--nevada);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 192px;
  left: 6px;
  position: absolute;
  top: 0;
  width: 303px;
}

.iphone-x-xs-11-pro-1 .marketcapital {
  height: 115px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 10px;
  width: 325px;
}

.iphone-x-xs-11-pro-1 .x5 {
  background-color: var(--caribbean-green);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 76px;
  left: 38px;
  position: absolute;
  top: 103px;
  width: 228px;
}

.iphone-x-xs-11-pro-1 .w-4 {
  -webkit-text-stroke: 1px var(--silver);
  left: 66px;
  letter-spacing: 0.33px;
  line-height: 53px;
  position: absolute;
  top: 106px;
  white-space: nowrap;
}

.iphone-x-xs-11-pro-1 .widgets-data-card-with-charts-5 {
  align-items: flex-start;
  display: flex;
  height: 184px;
  margin-left: 0.1px;
  margin-top: 18px;
  min-width: 320px;
}

.iphone-x-xs-11-pro-1 .overlap-group8 {
  height: 194px;
  margin-left: -4px;
  margin-top: -5px;
  position: relative;
  width: 325px;
}

.iphone-x-xs-11-pro-1 .bgg-5 {
  background-color: var(--nevada);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 194px;
  left: 0;
  position: absolute;
  top: 0;
  width: 307px;
}

.iphone-x-xs-11-pro-1 .data {
  align-items: flex-start;
  display: flex;
  height: 66px;
  justify-content: center;
  left: 45px;
  position: absolute;
  top: 108px;
}

.iphone-x-xs-11-pro-1 .overlap-group7-5 {
  align-items: flex-start;
  background-color: var(--salmon);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  display: flex;
  height: 76px;
  margin-top: -5px;
  min-width: 228px;
  padding: 5.6px 13.9px;
}

.iphone-x-xs-11-pro-1 .hello {
  -webkit-text-stroke: 1px var(--silver);
  letter-spacing: 0.28px;
  line-height: 45px;
  min-height: 56px;
  white-space: nowrap;
}

.iphone-x-xs-11-pro-1 .liquidityvalue {
  height: 113px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 10px;
  width: 320px;
}

.iphone-x-xs-11-pro-1 .overlap-group {
  height: 198px;
  margin-right: 0.84px;
  position: relative;
  width: 350px;
}

.iphone-x-xs-11-pro-1 .widgets-data-card-with-charts-6 {
  align-items: flex-end;
  display: flex;
  height: 198px;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
}

.iphone-x-xs-11-pro-1 .overlap-group7-6 {
  height: 203px;
  margin-bottom: -5.0px;
  position: relative;
  width: 350px;
}

.iphone-x-xs-11-pro-1 .bgg-6 {
  background-color: var(--nevada);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 192px;
  left: 8px;
  position: absolute;
  top: 11px;
  width: 309px;
}

.iphone-x-xs-11-pro-1 .tradingvolume {
  height: 123px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 350px;
}

.iphone-x-xs-11-pro-1 .x7 {
  background-color: var(--caribbean-green);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 76px;
  left: 50px;
  position: absolute;
  top: 112px;
  width: 228px;
}

.iphone-x-xs-11-pro-1 .w-5 {
  -webkit-text-stroke: 1px var(--silver);
  left: 79px;
  letter-spacing: 0.33px;
  line-height: 53px;
  position: absolute;
  top: 122px;
  white-space: nowrap;
}

.iphone-x-xs-11-pro-1 .overlap-group3 {
  height: 184px;
  margin-right: 0.44px;
  margin-top: 19px;
  position: relative;
  width: 314px;
}

.iphone-x-xs-11-pro-1 .widgets-data-card-with-charts-7 {
  align-items: flex-start;
  display: flex;
  height: 184px;
  left: 0;
  padding: 0 0.0px;
  position: absolute;
  top: 0;
}

.iphone-x-xs-11-pro-1 .overlap-group7-7 {
  height: 194px;
  margin-top: -5px;
  position: relative;
  width: 314px;
}

.iphone-x-xs-11-pro-1 .bgg-7 {
  background-color: var(--nevada);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 194px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 299px;
}

.iphone-x-xs-11-pro-1 .avggasprice {
  height: 111px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 314px;
}

.iphone-x-xs-11-pro-1 .x8 {
  background-color: var(--salmon);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 76px;
  left: 38px;
  position: absolute;
  top: 103px;
  width: 228px;
}

.iphone-x-xs-11-pro-1 .w-6 {
  -webkit-text-stroke: 1px var(--silver);
  left: 61px;
  letter-spacing: 0.33px;
  line-height: 53px;
  position: absolute;
  top: 104px;
  white-space: nowrap;
}

.iphone-x-xs-11-pro-1 .casganbanner {
  align-self: flex-start;
  height: 76px;
  margin-top: 18px;
  object-fit: cover;
  width: 1610px;
}
@media screen and (max-width: 1023px) {
  .screen.x4k { 
    display: none;
   }
  .screen.x1920 { 
    display: none;
   }
  .screen.x1440 { 
    display: none;
   }
  .screen.ipad-pro-12-9in-1 { 
    display: none;
   }
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .screen.x4k { 
    display: none;
   }
  .screen.x1920 { 
    display: none;
   }
  .screen.x1440 { 
    display: none;
   }
  .screen.iphone-x-xs-11-pro-1 { 
    display: none;
   }
}
@media screen and (min-width: 1440px) and (max-width: 1919px) {
  .screen.x4k { 
    display: none;
   }
  .screen.x1920 { 
    display: none;
   }
  .screen.ipad-pro-12-9in-1 { 
    display: none;
   }
  .screen.iphone-x-xs-11-pro-1 { 
    display: none;
   }
}
@media screen and (min-width: 1920px) and (max-width: 4095px) {
  .screen.x4k { 
    display: none;
   }
  .screen.x1440 { 
    display: none;
   }
  .screen.ipad-pro-12-9in-1 { 
    display: none;
   }
  .screen.iphone-x-xs-11-pro-1 { 
    display: none;
   }
}
@media screen and (min-width: 4096px) {
  .screen.x1920 { 
    display: none;
   }
  .screen.x1440 { 
    display: none;
   }
  .screen.ipad-pro-12-9in-1 { 
    display: none;
   }
  .screen.iphone-x-xs-11-pro-1 { 
    display: none;
   }
}