/* screen - 1440 */

.x1440 {
  align-items: flex-start;
  background-color: var(--shark);
  display: flex;
  flex-direction: column;
  height: 900px;
  overflow: hidden;
  width: 1440px;
}

.x1440 .overlap-group10 {
  height: 817px;
  position: relative;
  width: 1440px;
}

.x1440 .overlap-group-2 {
  height: 817px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.x1440 .navbar-primary-color {
  align-items: flex-end;
  background-color: var(--tuna);
  border-radius: 4px;
  display: flex;
  height: 56px;
  left: 0;
  padding: 9px 107px;
  position: absolute;
  top: 0;
}

.x1440 .button-default-primary {
  align-items: flex-end;
  background-color: var(--salmon);
  border-radius: 5px;
  display: flex;
  height: 37px;
  justify-content: flex-end;
  min-width: 140px;
  padding: 8.5px 14px;
}

.x1440 .connect-wallet {
  letter-spacing: 0;
  line-height: 16px;
  min-height: 19px;
  min-width: 110px;
  white-space: nowrap;
}

.x1440 .bsc-gas {
  height: 68px;
  left: 570px;
  object-fit: cover;
  position: absolute;
  top: 375px;
  width: 301px;
}

.x1440 .twitter {
  height: 417px;
  left: 157px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1125px;
}

.x1440 .pump450x600 {
  height: 542px;
  left: 1133px;
  object-fit: cover;
  position: absolute;
  top: 275px;
  width: 300px;
}

.x1440 .button-default-primary-1 {
  align-items: flex-start;
  display: flex;
  height: 37px;
  left: 260px;
  min-width: 215px;
  position: absolute;
  top: 10px;
}

.x1440 .overlap-group1 {
  border-radius: 5px;
  height: 37px;
  position: relative;
  width: 215px;
}

.x1440 .primary-007-bff {
  background-color: var(--caribbean-green);
  border-radius: 5px;
  height: 37px;
  left: 0;
  position: absolute;
  top: 0;
  width: 215px;
}

.x1440 .text-3 {
  left: 16px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 10px;
  white-space: nowrap;
}

.x1440 .widgets-data-card-with-charts {
  align-items: flex-end;
  display: flex;
  height: 143px;
  justify-content: flex-end;
  left: 571px;
  position: absolute;
  top: 463px;
}

.x1440 .overlap-group2 {
  background-color: var(--caribbean-green);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 149px;
  margin-bottom: -5.0px;
  position: relative;
  width: 153px;
}

.x1440 .codeinput {
  background-color: var(--caribbean-green);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 91px;
  left: 9px;
  position: absolute;
  top: 37px;
  width: 116px;
}

.x1440 .mytokenvalue {
  height: 51px;
  left: -8px;
  object-fit: cover;
  position: absolute;
  top: -9px;
  width: 144px;
}

.x1440 .widgets-data-card-with-charts-1 {
  align-items: flex-start;
  display: flex;
  height: 139px;
  justify-content: flex-end;
  left: 419px;
  position: absolute;
  top: 467px;
}

.x1440 .overlap-group {
  background-color: var(--salmon-2);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 149px;
  margin-top: -5px;
  position: relative;
  width: 153px;
}

.x1440 .codeinput-1 {
  background-color: var(--salmon-2);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 89px;
  left: 9px;
  position: absolute;
  top: 38px;
  width: 115px;
}

.x1440 .mytokenbalance {
  height: 52px;
  left: -9px;
  object-fit: cover;
  position: absolute;
  top: -5px;
  width: 146px;
}

.x1440 .widgets-data-card-with-charts-2 {
  align-items: flex-start;
  display: flex;
  height: 139px;
  justify-content: flex-end;
  left: 571px;
  position: absolute;
  top: 615px;
}

.x1440 .liquidityvalue {
  height: 51px;
  left: -8px;
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: 145px;
}

.x1440 .widgets-data-card-with-charts-3 {
  align-items: flex-start;
  display: flex;
  height: 139px;
  justify-content: flex-end;
  left: 418px;
  position: absolute;
  top: 615px;
}

.x1440 .overlap-group-1 {
  background-color: var(--caribbean-green);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 149px;
  margin-top: -5px;
  position: relative;
  width: 153px;
}

.x1440 .marketcapital {
  height: 52px;
  left: -10px;
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: 148px;
}

.x1440 .widgets-data-card-with-charts-4 {
  align-items: flex-start;
  display: flex;
  height: 139px;
  justify-content: flex-end;
  left: 875px;
  position: absolute;
  top: 467px;
}

.x1440 .totalgasrewards {
  height: 47px;
  left: -5px;
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: 134px;
}

.x1440 .widgets-data-card-with-charts-5 {
  align-items: flex-end;
  display: flex;
  height: 143px;
  justify-content: flex-end;
  left: 721px;
  position: absolute;
  top: 463px;
}

.x1440 .overlap-group7 {
  background-color: var(--salmon-2);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 149px;
  margin-bottom: -5.0px;
  position: relative;
  width: 153px;
}

.x1440 .mygasrewards {
  height: 52px;
  left: -8px;
  object-fit: cover;
  position: absolute;
  top: -9px;
  width: 147px;
}

.x1440 .widgets-data-card-with-charts-6 {
  align-items: flex-start;
  display: flex;
  height: 141px;
  justify-content: flex-end;
  left: 872px;
  position: absolute;
  top: 613px;
}

.x1440 .overlap-group8 {
  background-color: var(--salmon-2);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 149px;
  margin-top: -3.33px;
  position: relative;
  width: 153px;
}

.x1440 .avggasprice {
  height: 50px;
  left: -8px;
  object-fit: cover;
  position: absolute;
  top: -7px;
  width: 141px;
}

.x1440 .widgets-data-card-with-charts-7 {
  align-items: flex-start;
  display: flex;
  height: 141px;
  justify-content: flex-end;
  left: 720px;
  position: absolute;
  top: 613px;
}

.x1440 .overlap-group9 {
  background-color: var(--caribbean-green);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 149px;
  margin-top: -3.33px;
  position: relative;
  width: 153px;
}

.x1440 .tradingvolume {
  height: 52px;
  left: -9px;
  object-fit: cover;
  position: absolute;
  top: -7px;
  width: 147px;
}

.x1440 .casganbanner {
  height: 83px;
  margin-left: 0;
  object-fit: cover;
  width: 1467px;
}
/* screen - 1920 */

.x1920 {
  align-items: flex-start;
  background-color: var(--shark);
  display: flex;
  flex-direction: column;
  height: 1080px;
  overflow: hidden;
  width: 1920px;
}

.x1920 .overlap-group10 {
  height: 980px;
  position: relative;
  width: 1920px;
}

.x1920 .overlap-group-2 {
  height: 980px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.x1920 .navbar-primary-color {
  align-items: flex-end;
  background-color: var(--tuna);
  border-radius: 4px;
  display: flex;
  height: 56px;
  left: 0;
  padding: 9px 107px;
  position: absolute;
  top: 0;
}

.x1920 .button-default-primary {
  align-items: flex-end;
  background-color: var(--salmon);
  border-radius: 5px;
  display: flex;
  height: 37px;
  justify-content: flex-end;
  min-width: 140px;
  padding: 8.5px 14px;
}

.x1920 .connect-wallet {
  letter-spacing: 0;
  line-height: 16px;
  min-height: 19px;
  min-width: 110px;
  white-space: nowrap;
}

.x1920 .bsc-gas {
  height: 90px;
  left: 760px;
  object-fit: cover;
  position: absolute;
  top: 450px;
  width: 401px;
}

.x1920 .twitter {
  height: 500px;
  left: 210px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1501px;
}

.x1920 .pump450x600 {
  height: 650px;
  left: 1510px;
  object-fit: cover;
  position: absolute;
  top: 330px;
  width: 400px;
}

.x1920 .button-default-primary-1 {
  align-items: flex-start;
  display: flex;
  height: 37px;
  left: 260px;
  min-width: 215px;
  position: absolute;
  top: 10px;
}

.x1920 .overlap-group1 {
  border-radius: 5px;
  height: 37px;
  position: relative;
  width: 215px;
}

.x1920 .primary-007-bff {
  background-color: var(--caribbean-green);
  border-radius: 5px;
  height: 37px;
  left: 0;
  position: absolute;
  top: 0;
  width: 215px;
}

.x1920 .text-2 {
  left: 16px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 10px;
  white-space: nowrap;
}

.x1920 .widgets-data-card-with-charts {
  align-items: flex-start;
  display: flex;
  height: 167px;
  justify-content: center;
  left: 765px;
  position: absolute;
  top: 560px;
}

.x1920 .overlap-group {
  background-color: var(--caribbean-green);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 177px;
  margin-top: -5px;
  position: relative;
  width: 200px;
}

.x1920 .codeinput {
  background-color: var(--caribbean-green);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 108px;
  left: 15px;
  position: absolute;
  top: 47px;
  width: 151px;
}

.x1920 .mytokenvalue {
  height: 61px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: -4px;
  width: 174px;
}

.x1920 .widgets-data-card-with-charts-1 {
  align-items: flex-start;
  display: flex;
  height: 167px;
  justify-content: center;
  left: 564px;
  position: absolute;
  top: 560px;
}

.x1920 .overlap-group-1 {
  background-color: var(--salmon-2);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 177px;
  margin-top: -5px;
  position: relative;
  width: 200px;
}

.x1920 .codeinput-1 {
  background-color: var(--salmon-2);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 105px;
  left: 16px;
  position: absolute;
  top: 48px;
  width: 149px;
}

.x1920 .mytokenbalance {
  height: 64px;
  left: 2px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 183px;
}

.x1920 .widgets-data-card-with-charts-2 {
  align-items: flex-start;
  display: flex;
  height: 167px;
  left: 765px;
  position: absolute;
  top: 738px;
}

.x1920 .overlap-group4 {
  background-color: var(--salmon-2);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 177px;
  margin-left: -4px;
  margin-top: -5px;
  position: relative;
  width: 200px;
}

.x1920 .liquidityvalue {
  height: 67px;
  left: -5px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 191px;
}

.x1920 .widgets-data-card-with-charts-3 {
  align-items: flex-start;
  display: flex;
  height: 167px;
  justify-content: flex-end;
  left: 564px;
  position: absolute;
  top: 738px;
}

.x1920 .marketcapital {
  height: 66px;
  left: -5px;
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: 188px;
}

.x1920 .widgets-data-card-with-charts-4 {
  align-items: flex-start;
  display: flex;
  height: 167px;
  justify-content: center;
  left: 1167px;
  position: absolute;
  top: 560px;
}

.x1920 .totalgasrewards {
  height: 62px;
  left: 3px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 176px;
}

.x1920 .widgets-data-card-with-charts-5 {
  align-items: flex-start;
  display: flex;
  height: 167px;
  justify-content: flex-end;
  left: 963px;
  position: absolute;
  top: 560px;
}

.x1920 .mygasrewards {
  height: 69px;
  left: -8px;
  object-fit: cover;
  position: absolute;
  top: -4px;
  width: 195px;
}

.x1920 .widgets-data-card-with-charts-6 {
  align-items: flex-start;
  display: flex;
  height: 169px;
  justify-content: flex-end;
  left: 1163px;
  position: absolute;
  top: 736px;
}

.x1920 .overlap-group8 {
  background-color: var(--salmon-2);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 177px;
  margin-top: -3px;
  position: relative;
  width: 200px;
}

.x1920 .avggasprice {
  height: 68px;
  left: -9px;
  object-fit: cover;
  position: absolute;
  top: -7px;
  width: 195px;
}

.x1920 .widgets-data-card-with-charts-7 {
  align-items: flex-start;
  display: flex;
  height: 169px;
  left: 960px;
  position: absolute;
  top: 736px;
}

.x1920 .overlap-group9 {
  height: 177px;
  margin-top: -3px;
  position: relative;
  width: 201px;
}

.x1920 .bgg {
  background-color: var(--caribbean-green);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 177px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 200px;
}

.x1920 .x24hrvolcodeinput {
  background-color: var(--caribbean-green);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 108px;
  left: 26px;
  position: absolute;
  top: 57px;
  width: 151px;
}

.x1920 .tradingvolume {
  height: 69px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 3px;
  width: 197px;
}

.x1920 .casganbanner {
  height: 100px;
  margin-left: 0;
  object-fit: cover;
  width: 1956px;
}
/* screen - 4k */

.x4k {
  align-items: flex-start;
  background-color: var(--shark);
  display: flex;
  flex-direction: column;
  height: 2160px;
  overflow: hidden;
  width: 4096px;
}

.x4k .overlap-group10 {
  height: 1960px;
  position: relative;
  width: 4096px;
}

.x4k .overlap-group-3 {
  height: 1960px;
  left: 0;
  position: absolute;
  top: 0;
  width: 4096px;
}

.x4k .navbar-primary-color {
  align-items: flex-end;
  background-color: var(--tuna);
  border-radius: 4px;
  display: flex;
  height: 56px;
  left: 0;
  padding: 9px 107px;
  position: absolute;
  top: 0;
}

.x4k .button-default-primary {
  align-items: flex-end;
  background-color: var(--salmon);
  border-radius: 5px;
  display: flex;
  height: 37px;
  justify-content: flex-end;
  min-width: 140px;
  padding: 8.5px 14px;
}

.x4k .connect-wallet {
  letter-spacing: 0;
  line-height: 16px;
  min-height: 19px;
  min-width: 110px;
  white-space: nowrap;
}

.x4k .bsc-gas {
  height: 192px;
  left: 1620px;
  object-fit: cover;
  position: absolute;
  top: 900px;
  width: 855px;
}

.x4k .twitter {
  height: 1000px;
  left: 447px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 3201px;
}

.x4k .pump450x600 {
  height: 1300px;
  left: 3222px;
  object-fit: cover;
  position: absolute;
  top: 660px;
  width: 853px;
}

.x4k .button-default-primary-1 {
  align-items: flex-start;
  display: flex;
  height: 37px;
  left: 260px;
  min-width: 215px;
  position: absolute;
  top: 10px;
}

.x4k .overlap-group1 {
  border-radius: 5px;
  height: 37px;
  position: relative;
  width: 215px;
}

.x4k .primary-007-bff {
  background-color: var(--caribbean-green);
  border-radius: 5px;
  height: 37px;
  left: 0;
  position: absolute;
  top: 0;
  width: 215px;
}

.x4k .text-1 {
  left: 16px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 10px;
  white-space: nowrap;
}

.x4k .widgets-data-card-with-charts {
  align-items: flex-end;
  display: flex;
  height: 342px;
  left: 1623px;
  position: absolute;
  top: 1111px;
}

.x4k .overlap-group {
  height: 347px;
  margin-bottom: -5.0px;
  position: relative;
  width: 425px;
}

.x4k .bgg {
  background-color: var(--caribbean-green);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 343px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 416px;
}

.x4k .mytokenvaluecodeinput {
  background-color: var(--caribbean-green);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 205px;
  left: 57px;
  position: absolute;
  top: 118px;
  width: 311px;
}

.x4k .mytokenvalue {
  height: 150px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 425px;
}

.x4k .widgets-data-card-with-charts-1 {
  align-items: flex-start;
  display: flex;
  height: 333px;
  left: 1193px;
  position: absolute;
  top: 1120px;
}

.x4k .overlap-group-1 {
  height: 343px;
  margin-top: -5px;
  position: relative;
  width: 425px;
}

.x4k .bgg-1 {
  background-color: var(--salmon-2);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 343px;
  left: 5px;
  position: absolute;
  top: 0;
  width: 416px;
}

.x4k .mytokenbalancecodeinput {
  background-color: var(--salmon-2);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 199px;
  left: 60px;
  position: absolute;
  top: 116px;
  width: 307px;
}

.x4k .mytokenbalance {
  height: 150px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 425px;
}

.x4k .widgets-data-card-with-charts-2 {
  align-items: flex-start;
  display: flex;
  height: 333px;
  left: 1623px;
  position: absolute;
  top: 1476px;
}

.x4k .bgg-2 {
  background-color: var(--salmon-2);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 343px;
  left: 4px;
  position: absolute;
  top: 0;
  width: 416px;
}

.x4k .liquidityvaluecodeinput {
  background-color: var(--salmon-2);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 199px;
  left: 59px;
  position: absolute;
  top: 116px;
  width: 307px;
}

.x4k .liquidityvalue {
  height: 150px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 15px;
  width: 425px;
}

.x4k .widgets-data-card-with-charts-3 {
  align-items: flex-start;
  display: flex;
  height: 333px;
  left: 1188px;
  position: absolute;
  top: 1476px;
}

.x4k .overlap-group5 {
  height: 343px;
  margin-top: -5px;
  position: relative;
  width: 426px;
}

.x4k .bgg-3 {
  background-color: var(--caribbean-green);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 343px;
  left: 10px;
  position: absolute;
  top: 0;
  width: 416px;
}

.x4k .marketcapcodeinput {
  background-color: var(--caribbean-green);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 205px;
  left: 63px;
  position: absolute;
  top: 114px;
  width: 311px;
}

.x4k .marketcapital {
  height: 150px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 15px;
  width: 425px;
}

.x4k .widgets-data-card-with-charts-4 {
  align-items: flex-start;
  display: flex;
  height: 333px;
  left: 2480px;
  position: absolute;
  top: 1120px;
}

.x4k .bgg-4 {
  background-color: var(--caribbean-green);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 343px;
  left: 5px;
  position: absolute;
  top: 0;
  width: 416px;
}

.x4k .totalgasrewardscodeinput {
  background-color: var(--caribbean-green);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 205px;
  left: 58px;
  position: absolute;
  top: 114px;
  width: 311px;
}

.x4k .totalgasrewards {
  height: 150px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 425px;
}

.x4k .widgets-data-card-with-charts-5 {
  align-items: flex-end;
  display: flex;
  height: 342px;
  left: 2051px;
  position: absolute;
  top: 1111px;
}

.x4k .bgg-5 {
  background-color: var(--salmon-2);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 343px;
  left: 5px;
  position: absolute;
  top: 4px;
  width: 416px;
}

.x4k .mygasrewardscodeinput {
  background-color: var(--salmon-2);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 199px;
  left: 60px;
  position: absolute;
  top: 120px;
  width: 307px;
}

.x4k .mygasrewards {
  height: 150px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 425px;
}

.x4k .widgets-data-card-with-charts-6 {
  align-items: flex-end;
  display: flex;
  height: 337px;
  left: 2481px;
  position: absolute;
  top: 1472px;
}

.x4k .overlap-group-2 {
  height: 343px;
  margin-bottom: -5.0px;
  position: relative;
  width: 425px;
}

.x4k .bgg-6 {
  background-color: var(--salmon-2);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 343px;
  left: 3px;
  position: absolute;
  top: 0;
  width: 416px;
}

.x4k .avg-gascodeinput {
  background-color: var(--salmon-2);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 199px;
  left: 58px;
  position: absolute;
  top: 116px;
  width: 307px;
}

.x4k .avggasprice {
  height: 150px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 425px;
}

.x4k .widgets-data-card-with-charts-7 {
  align-items: flex-end;
  display: flex;
  height: 337px;
  left: 2048px;
  position: absolute;
  top: 1472px;
}

.x4k .bgg-7 {
  background-color: var(--caribbean-green);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 343px;
  left: 8px;
  position: absolute;
  top: 0;
  width: 416px;
}

.x4k .x24hrvolcodeinput {
  background-color: var(--caribbean-green);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 205px;
  left: 61px;
  position: absolute;
  top: 114px;
  width: 311px;
}

.x4k .tradingvolume {
  height: 150px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 425px;
}

.x4k .casganbanner {
  height: 200px;
  object-fit: cover;
  width: 4172px;
}
/* screen - ipad-pro-12-9in-1 */

.ipad-pro-12-9in-1 {
  align-items: center;
  background-color: var(--shark);
  display: flex;
  flex-direction: column;
  height: 2363px;
  overflow: hidden;
  width: 1024px;
}

.ipad-pro-12-9in-1 .overlap-group1 {
  align-self: flex-end;
  border-radius: 4px;
  height: 56px;
  margin-right: -3009px;
  position: relative;
  width: 4096px;
}

.ipad-pro-12-9in-1 .navbar-primary-color {
  align-items: flex-end;
  background-color: var(--tuna);
  border-radius: 4px;
  display: flex;
  height: 56px;
  left: 0;
  padding: 9px 107px;
  position: absolute;
  top: 0;
}

.ipad-pro-12-9in-1 .button-default-primary {
  align-items: flex-end;
  background-color: var(--salmon);
  border-radius: 5px;
  display: flex;
  height: 37px;
  justify-content: flex-end;
  min-width: 140px;
  padding: 8.5px 14px;
}

.ipad-pro-12-9in-1 .connect-wallet {
  letter-spacing: 0;
  line-height: 16px;
  min-height: 19px;
  min-width: 110px;
  white-space: nowrap;
}

.ipad-pro-12-9in-1 .button-default-primary-1 {
  align-items: flex-start;
  display: flex;
  height: 37px;
  left: 260px;
  min-width: 215px;
  position: absolute;
  top: 10px;
}

.ipad-pro-12-9in-1 .overlap-group2 {
  border-radius: 5px;
  height: 37px;
  position: relative;
  width: 215px;
}

.ipad-pro-12-9in-1 .primary-007-bff {
  background-color: var(--caribbean-green);
  border-radius: 5px;
  height: 37px;
  left: 0;
  position: absolute;
  top: 0;
  width: 215px;
}

.ipad-pro-12-9in-1 .text-4 {
  left: 16px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 10px;
  white-space: nowrap;
}

.ipad-pro-12-9in-1 .overlap-group-3 {
  height: 433px;
  margin-left: 1.0px;
  margin-top: 23px;
  position: relative;
  width: 1070px;
}

.ipad-pro-12-9in-1 .twitter {
  height: 375px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1070px;
}

.ipad-pro-12-9in-1 .bsc-gas {
  height: 116px;
  left: 277px;
  object-fit: cover;
  position: absolute;
  top: 317px;
  width: 516px;
}

.ipad-pro-12-9in-1 .flex-row {
  align-items: flex-end;
  display: flex;
  margin-left: 1.0px;
  margin-top: 48px;
  min-width: 855px;
}

.ipad-pro-12-9in-1 .widgets-data-card-with-charts {
  align-items: flex-start;
  display: flex;
  height: 333px;
  min-width: 425px;
}

.ipad-pro-12-9in-1 .overlap-group {
  height: 343px;
  margin-top: -5px;
  position: relative;
  width: 425px;
}

.ipad-pro-12-9in-1 .bgg {
  background-color: var(--salmon-2);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 343px;
  left: 5px;
  position: absolute;
  top: 0;
  width: 416px;
}

.ipad-pro-12-9in-1 .mytokenbalancecodeinput {
  background-color: var(--salmon-2);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 199px;
  left: 60px;
  position: absolute;
  top: 116px;
  width: 307px;
}

.ipad-pro-12-9in-1 .mytokenbalance {
  height: 150px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 425px;
}

.ipad-pro-12-9in-1 .widgets-data-card-with-charts-1 {
  align-items: flex-end;
  display: flex;
  height: 342px;
  margin-left: 5px;
  min-width: 425px;
}

.ipad-pro-12-9in-1 .overlap-group-1 {
  height: 347px;
  margin-bottom: -5.0px;
  position: relative;
  width: 425px;
}

.ipad-pro-12-9in-1 .bgg-1 {
  background-color: var(--caribbean-green);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 343px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 416px;
}

.ipad-pro-12-9in-1 .mytokenvaluecodeinput {
  background-color: var(--caribbean-green);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 205px;
  left: 57px;
  position: absolute;
  top: 118px;
  width: 311px;
}

.ipad-pro-12-9in-1 .mytokenvalue {
  height: 150px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 425px;
}

.ipad-pro-12-9in-1 .flex-row-1 {
  align-items: flex-end;
  display: flex;
  margin-top: 31px;
  min-width: 854px;
}

.ipad-pro-12-9in-1 .widgets-data-card-with-charts-2 {
  align-items: flex-end;
  display: flex;
  height: 342px;
  min-width: 425px;
}

.ipad-pro-12-9in-1 .bgg-2 {
  background-color: var(--salmon-2);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 343px;
  left: 5px;
  position: absolute;
  top: 4px;
  width: 416px;
}

.ipad-pro-12-9in-1 .mygasrewardscodeinput {
  background-color: var(--salmon-2);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 199px;
  left: 60px;
  position: absolute;
  top: 120px;
  width: 307px;
}

.ipad-pro-12-9in-1 .mygasrewards {
  height: 150px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 425px;
}

.ipad-pro-12-9in-1 .widgets-data-card-with-charts-3 {
  align-items: flex-start;
  display: flex;
  height: 333px;
  margin-left: 4px;
  min-width: 425px;
}

.ipad-pro-12-9in-1 .bgg-3 {
  background-color: var(--caribbean-green);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 343px;
  left: 5px;
  position: absolute;
  top: 0;
  width: 416px;
}

.ipad-pro-12-9in-1 .totalgasrewardscodeinput {
  background-color: var(--caribbean-green);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 205px;
  left: 58px;
  position: absolute;
  top: 114px;
  width: 311px;
}

.ipad-pro-12-9in-1 .totalgasrewards {
  height: 150px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 425px;
}

.ipad-pro-12-9in-1 .flex-row-2 {
  align-items: flex-start;
  display: flex;
  margin-right: 0;
  margin-top: 31px;
  min-width: 860px;
}

.ipad-pro-12-9in-1 .overlap-group8 {
  height: 343px;
  margin-top: -5px;
  position: relative;
  width: 426px;
}

.ipad-pro-12-9in-1 .bgg-4 {
  background-color: var(--caribbean-green);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 343px;
  left: 10px;
  position: absolute;
  top: 0;
  width: 416px;
}

.ipad-pro-12-9in-1 .marketcapcodeinput {
  background-color: var(--caribbean-green);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 205px;
  left: 63px;
  position: absolute;
  top: 114px;
  width: 311px;
}

.ipad-pro-12-9in-1 .marketcapital {
  height: 150px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 15px;
  width: 425px;
}

.ipad-pro-12-9in-1 .widgets-data-card-with-charts-4 {
  align-items: flex-start;
  display: flex;
  height: 333px;
  margin-left: 9px;
  min-width: 425px;
}

.ipad-pro-12-9in-1 .bgg-5 {
  background-color: var(--salmon-2);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 343px;
  left: 4px;
  position: absolute;
  top: 0;
  width: 416px;
}

.ipad-pro-12-9in-1 .liquidityvaluecodeinput {
  background-color: var(--salmon-2);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 199px;
  left: 59px;
  position: absolute;
  top: 116px;
  width: 307px;
}

.ipad-pro-12-9in-1 .liquidityvalue {
  height: 150px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 15px;
  width: 425px;
}

.ipad-pro-12-9in-1 .flex-row-3 {
  align-items: flex-start;
  display: flex;
  margin-top: 31px;
  min-width: 858px;
}

.ipad-pro-12-9in-1 .widgets-data-card-with-charts-5 {
  align-items: flex-end;
  display: flex;
  height: 337px;
  min-width: 425px;
}

.ipad-pro-12-9in-1 .overlap-group-2 {
  height: 343px;
  margin-bottom: -5.0px;
  position: relative;
  width: 425px;
}

.ipad-pro-12-9in-1 .bgg-6 {
  background-color: var(--caribbean-green);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 343px;
  left: 8px;
  position: absolute;
  top: 0;
  width: 416px;
}

.ipad-pro-12-9in-1 .x24hrvolcodeinput {
  background-color: var(--caribbean-green);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 205px;
  left: 61px;
  position: absolute;
  top: 114px;
  width: 311px;
}

.ipad-pro-12-9in-1 .tradingvolume {
  height: 150px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 425px;
}

.ipad-pro-12-9in-1 .widgets-data-card-with-charts-6 {
  align-items: flex-end;
  display: flex;
  height: 337px;
  margin-left: 8px;
  min-width: 425px;
}

.ipad-pro-12-9in-1 .bgg-7 {
  background-color: var(--salmon-2);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 343px;
  left: 3px;
  position: absolute;
  top: 0;
  width: 416px;
}

.ipad-pro-12-9in-1 .avg-gascodeinput {
  background-color: var(--salmon-2);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 199px;
  left: 58px;
  position: absolute;
  top: 116px;
  width: 307px;
}

.ipad-pro-12-9in-1 .avggasprice {
  height: 150px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 425px;
}

.ipad-pro-12-9in-1 .casganbanner {
  align-self: flex-start;
  height: 89px;
  margin-top: 262px;
  object-fit: cover;
  width: 1684px;
}
/* screen - iphone-x-xs-11-pro-1 */

.iphone-x-xs-11-pro-1 {
  align-items: flex-start;
  background-color: var(--shark);
  display: flex;
  flex-direction: column;
  height: 2866px;
  overflow: hidden;
  width: 375px;
}

.iphone-x-xs-11-pro-1 .overlap-group {
  align-self: flex-end;
  border-radius: 4px;
  height: 56px;
  margin-right: -3617px;
  position: relative;
  width: 4096px;
}

.iphone-x-xs-11-pro-1 .navbar-primary-color {
  align-items: flex-end;
  background-color: var(--tuna);
  border-radius: 4px;
  display: flex;
  height: 56px;
  left: 0;
  padding: 9px 107px;
  position: absolute;
  top: 0;
}

.iphone-x-xs-11-pro-1 .button-default-primary {
  align-items: flex-end;
  background-color: var(--salmon);
  border-radius: 5px;
  display: flex;
  height: 37px;
  justify-content: flex-end;
  min-width: 140px;
  padding: 8.5px 14px;
}

.iphone-x-xs-11-pro-1 .connect-wallet {
  letter-spacing: 0;
  line-height: 16px;
  min-height: 19px;
  min-width: 110px;
  white-space: nowrap;
}

.iphone-x-xs-11-pro-1 .button-default-primary-1 {
  align-items: flex-start;
  display: flex;
  height: 37px;
  left: 260px;
  min-width: 215px;
  position: absolute;
  top: 10px;
}

.iphone-x-xs-11-pro-1 .overlap-group1 {
  border-radius: 5px;
  height: 37px;
  position: relative;
  width: 215px;
}

.iphone-x-xs-11-pro-1 .primary-007-bff {
  background-color: var(--caribbean-green);
  border-radius: 5px;
  height: 37px;
  left: 0;
  position: absolute;
  top: 0;
  width: 215px;
}

.iphone-x-xs-11-pro-1 .text-5 {
  left: 16px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 10px;
  white-space: nowrap;
}

.iphone-x-xs-11-pro-1 .twitter {
  height: 134px;
  margin-left: 0.38px;
  object-fit: cover;
  width: 374px;
}

.iphone-x-xs-11-pro-1 .bsc-gas {
  height: 89px;
  margin-left: -11.68px;
  object-fit: cover;
  width: 398px;
}

.iphone-x-xs-11-pro-1 .widgets-data-card-with-charts {
  align-items: flex-start;
  display: flex;
  height: 266px;
  margin-top: 60px;
  min-width: 363px;
}

.iphone-x-xs-11-pro-1 .overlap-group2 {
  height: 276px;
  margin-top: -5px;
  position: relative;
  width: 368px;
}

.iphone-x-xs-11-pro-1 .bgg {
  background-color: var(--salmon-2);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 276px;
  left: 4px;
  position: absolute;
  top: 0;
  width: 364px;
}

.iphone-x-xs-11-pro-1 .mytokenbalancecodeinput {
  background-color: var(--salmon-2);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 161px;
  left: 52px;
  position: absolute;
  top: 92px;
  width: 270px;
}

.iphone-x-xs-11-pro-1 .mytokenbalance {
  height: 128px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 363px;
}

.iphone-x-xs-11-pro-1 .widgets-data-card-with-charts-1 {
  align-items: flex-start;
  display: flex;
  height: 292px;
  margin-left: 0;
  margin-top: 6px;
  min-width: 375px;
}

.iphone-x-xs-11-pro-1 .overlap-group3 {
  height: 302px;
  margin-top: -5px;
  position: relative;
  width: 375px;
}

.iphone-x-xs-11-pro-1 .bgg-1 {
  background-color: var(--caribbean-green);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 302px;
  left: 3px;
  position: absolute;
  top: 0;
  width: 368px;
}

.iphone-x-xs-11-pro-1 .mytokenvaluecodeinput {
  background-color: var(--caribbean-green);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 181px;
  left: 50px;
  position: absolute;
  top: 100px;
  width: 276px;
}

.iphone-x-xs-11-pro-1 .mytokenvalue {
  height: 132px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 15px;
  width: 375px;
}

.iphone-x-xs-11-pro-1 .widgets-data-card-with-charts-2 {
  align-items: flex-start;
  display: flex;
  height: 304px;
  margin-top: 7px;
  min-width: 363px;
}

.iphone-x-xs-11-pro-1 .overlap-group4 {
  height: 314px;
  margin-top: -5px;
  position: relative;
  width: 368px;
}

.iphone-x-xs-11-pro-1 .bgg-2 {
  background-color: var(--salmon-2);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 314px;
  left: 3px;
  position: absolute;
  top: 0;
  width: 364px;
}

.iphone-x-xs-11-pro-1 .mygasrewardscodeinput {
  background-color: var(--salmon-2);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 183px;
  left: 51px;
  position: absolute;
  top: 106px;
  width: 270px;
}

.iphone-x-xs-11-pro-1 .mygasrewards {
  height: 128px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 19px;
  width: 363px;
}

.iphone-x-xs-11-pro-1 .widgets-data-card-with-charts-3 {
  align-items: flex-start;
  display: flex;
  height: 309px;
  margin-top: 7px;
  min-width: 362px;
}

.iphone-x-xs-11-pro-1 .overlap-group5 {
  height: 319px;
  margin-top: -5px;
  position: relative;
  width: 367px;
}

.iphone-x-xs-11-pro-1 .bgg-3 {
  background-color: var(--caribbean-green);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 319px;
  left: 3px;
  position: absolute;
  top: 0;
  width: 364px;
}

.iphone-x-xs-11-pro-1 .totalgasrewardscodeinput {
  background-color: var(--caribbean-green);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 191px;
  left: 50px;
  position: absolute;
  top: 105px;
  width: 273px;
}

.iphone-x-xs-11-pro-1 .totalgasrewards {
  height: 128px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 27px;
  width: 362px;
}

.iphone-x-xs-11-pro-1 .widgets-data-card-with-charts-4 {
  align-items: flex-start;
  display: flex;
  height: 311px;
  margin-left: -7px;
  margin-top: 7px;
  min-width: 371px;
}

.iphone-x-xs-11-pro-1 .overlap-group6 {
  height: 321px;
  margin-top: -5px;
  position: relative;
  width: 376px;
}

.iphone-x-xs-11-pro-1 .bgg-4 {
  background-color: var(--caribbean-green);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 321px;
  left: 8px;
  position: absolute;
  top: 0;
  width: 368px;
}

.iphone-x-xs-11-pro-1 .marketcapcodeinput {
  background-color: var(--caribbean-green);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 193px;
  left: 55px;
  position: absolute;
  top: 106px;
  width: 276px;
}

.iphone-x-xs-11-pro-1 .marketcapital {
  height: 131px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 34px;
  width: 371px;
}

.iphone-x-xs-11-pro-1 .widgets-data-card-with-charts-5 {
  align-items: flex-start;
  display: flex;
  height: 302px;
  margin-left: 0;
  margin-top: 7px;
  min-width: 375px;
}

.iphone-x-xs-11-pro-1 .overlap-group7 {
  height: 312px;
  margin-top: -5px;
  position: relative;
  width: 375px;
}

.iphone-x-xs-11-pro-1 .bgg-5 {
  background-color: var(--salmon-2);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 312px;
  left: 3px;
  position: absolute;
  top: 0;
  width: 368px;
}

.iphone-x-xs-11-pro-1 .liquidityvaluecodeinput {
  background-color: var(--salmon-2);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 181px;
  left: 51px;
  position: absolute;
  top: 105px;
  width: 272px;
}

.iphone-x-xs-11-pro-1 .liquidityvalue {
  height: 132px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 33px;
  width: 375px;
}

.iphone-x-xs-11-pro-1 .widgets-data-card-with-charts-6 {
  align-items: flex-start;
  display: flex;
  height: 307px;
  margin-left: -7px;
  margin-top: 10px;
  min-width: 375px;
}

.iphone-x-xs-11-pro-1 .overlap-group8 {
  height: 317px;
  margin-top: -5px;
  position: relative;
  width: 380px;
}

.iphone-x-xs-11-pro-1 .bgg-6 {
  background-color: var(--caribbean-green);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 317px;
  left: 6px;
  position: absolute;
  top: 0;
  width: 373px;
}

.iphone-x-xs-11-pro-1 .x24hrvolcodeinput {
  background-color: var(--caribbean-green);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 190px;
  left: 54px;
  position: absolute;
  top: 105px;
  width: 280px;
}

.iphone-x-xs-11-pro-1 .tradingvolume {
  height: 132px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 19px;
  width: 375px;
}

.iphone-x-xs-11-pro-1 .widgets-data-card-with-charts-7 {
  align-items: flex-start;
  display: flex;
  height: 285px;
  margin-top: 11px;
  min-width: 369px;
}

.iphone-x-xs-11-pro-1 .overlap-group9 {
  height: 295px;
  margin-top: -5px;
  position: relative;
  width: 370px;
}

.iphone-x-xs-11-pro-1 .bgg-7 {
  background-color: var(--salmon-2);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 295px;
  left: 2px;
  position: absolute;
  top: 0;
  width: 368px;
}

.iphone-x-xs-11-pro-1 .avg-gascodeinput {
  background-color: var(--salmon-2);
  border-radius: 6px;
  box-shadow: 0px 1px 4px #15223214;
  height: 172px;
  left: 51px;
  position: absolute;
  top: 99px;
  width: 272px;
}

.iphone-x-xs-11-pro-1 .avggasprice {
  height: 130px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 22px;
  width: 369px;
}

.iphone-x-xs-11-pro-1 .casganbanner {
  height: 76px;
  margin-top: 11px;
  object-fit: cover;
  width: 1610px;
}
@media screen and (max-width: 1023px) {
  .screen.x4k { 
    display: none;
   }
  .screen.x1920 { 
    display: none;
   }
  .screen.x1440 { 
    display: none;
   }
  .screen.ipad-pro-12-9in-1 { 
    display: none;
   }
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .screen.x4k { 
    display: none;
   }
  .screen.x1920 { 
    display: none;
   }
  .screen.x1440 { 
    display: none;
   }
  .screen.iphone-x-xs-11-pro-1 { 
    display: none;
   }
}
@media screen and (min-width: 1440px) and (max-width: 1919px) {
  .screen.x4k { 
    display: none;
   }
  .screen.x1920 { 
    display: none;
   }
  .screen.ipad-pro-12-9in-1 { 
    display: none;
   }
  .screen.iphone-x-xs-11-pro-1 { 
    display: none;
   }
}
@media screen and (min-width: 1920px) and (max-width: 4095px) {
  .screen.x4k { 
    display: none;
   }
  .screen.x1440 { 
    display: none;
   }
  .screen.ipad-pro-12-9in-1 { 
    display: none;
   }
  .screen.iphone-x-xs-11-pro-1 { 
    display: none;
   }
}
@media screen and (min-width: 4096px) {
  .screen.x1920 { 
    display: none;
   }
  .screen.x1440 { 
    display: none;
   }
  .screen.ipad-pro-12-9in-1 { 
    display: none;
   }
  .screen.iphone-x-xs-11-pro-1 { 
    display: none;
   }
}